<div class="list-group fullwidth" id="rightMenu">
    <a href="#" class="list-group-item header">
        Primary structure
    </a>
    <a href="#" class="list-group-item">
        Wireframe <input id="wireframe" type="checkbox" class="primaryStructureGroup"/>
    </a>
    <a href="#" class="list-group-item">
        Sticks <input id="sticks" type="checkbox" class="primaryStructureGroup"/>
    </a>
    <a href="#" class="list-group-item">
        Balls and Sticks <input id="ballsAndSticks" type="checkbox" class="primaryStructureGroup"/>
    </a>
    <a href="#" class="list-group-item">
        Van der Waals<input id="vanDerWaals" type="checkbox" class="primaryStructureGroup"/>
    </a>
    <a href="#" class="list-group-item">
        Surface (not supported) <!--<input id="surface" style="display: none;"type="checkbox" class="primaryStructureGroup"/>--> 
    </a>

    <a href="#" class="list-group-item header">
        Color
    </a>
    <a href="#" class="list-group-item">
        Atom <input type="checkbox" id="atom" class="colorGroup" />
    </a>
    <a href="#" class="list-group-item">
        Charge (not supported)<!--<input type="checkbox" id="charge" class="colorGroup"/>-->
    </a>
    <a href="#" class="list-group-item header">
        Secondary structures
    </a>
    <a href="#" class="list-group-item">
        Alpha trace (not supported) <!--<input type="checkbox" id="alphaTrace"/>-->
    </a>
    <a href="#" class="list-group-item">
        Cartoon <input type="checkbox" id="cartoon"/>
    </a>

</div>