<div class="list-group fullwidth" id="rightMenu">
    <a href="#" class="list-group-item header">
        Primary structure
    </a>
    <a href="#" class="list-group-item">
        Sticks <input type="checkbox"/>
    </a>
    <a href="#" class="list-group-item">
        Balls and stick <input type="checkbox"/>
    </a>
    <a href="#" class="list-group-item">
        Van der Waals<input type="checkbox"/>
    </a>
    <a href="#" class="list-group-item">
        Surface<input type="checkbox"/>
    </a>

    <a href="#" class="list-group-item header">
        Color
    </a>
    <a href="#" class="list-group-item">
        Charge <input type="checkbox"/>
    </a>
    <a href="#" class="list-group-item">
        Atom <input type="checkbox" />
    </a>

    <a href="#" class="list-group-item header">
        Secondary structures
    </a>
    <a href="#" class="list-group-item">
        Alpha trace <input type="checkbox"/>
    </a>
    <a href="#" class="list-group-item">
        Cartoon <input type="checkbox"/>
    </a>

</div>